@charset "utf-8";
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600&display=swap');


header {
    height: 60px;
    background-color: #682cc0;
    overflow: hidden;
}

header > div {
    display: flex;
}

header div h1 {
    font-size: 20px;
}

header h1 {
    margin-left: 30px;
    height: 60px;
    line-height: 50px;
    color: #fff;
    width: 40%;
    font-size: 18px;
}

header nav {
    width: 100%;
    text-align: right;
}

header nav ul {
    list-style: none;
    font-size: 0px;
}

header nav ul li {
    line-height: 50px;
    font-size: 18px;
    display: inline;
}

header nav ul li a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    padding: 0px 25px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

header .collapse {
    width: 40px;
    height: 40px;
    margin-top: calc((50px - 40px) / 2);
    text-align: center;
    cursor: pointer;
    display: none;
}

header nav ul li a:hover {
    border-radius: 5px;
    background-color: #bc3ee0;
    color: #000000;
}

.center {
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

table {
    height: 52vh;
    margin-top: 100px;
    width: 65%;
    border-collapse: separate;
    border-radius: 10px;
}

th {
    color: #888d97;
    font-size: 14px;    
    padding: 2px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

div {
    border-radius: 50%;
    padding: 10px 2px;
}

.U {
    background-color: #e2f2fd;
    border: 1px transparent #e2f2fd;
    color: #4faad2;
}

.A {
    background-color: #ffebee;
    border: 1px transparent #ffebee;
    color: #de8f90;
}

.C {
    background-color: #e8f4e9;
    border: 1px transparent #e8f4e9;
    color: #8db876;
}

.M {
    background-color: #e8e7f8;
    border: 1px transparent #e8e7f8;
    color: #7b86ca;
}

.V {
    background-color: #fff3e0;
    border: 1px transparent #fff3e0;
    color: #cea74d;
}

.space {
    border-spacing:0 15px;
}

/* 
  Switch the nav button with the hamburger icon when the screen gets too small.
*/

 @media screen and (max-width: 768px) {
    header nav {
      display: none;
    }
  
    header .collapse {
      display: block;
    }
  
    header h1 {
      width: calc(100% - 40px);
    }
  }
  
  @keyframes anim {
    from {
      opacity: 0;
      translate: 20px;
    }
  
    to {
      opacity: 1;
      translate: 0
    }
}

td  a {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #727e83;
    text-decoration: none;
    background-color: #edf0f2;
    border-radius: 20px;
    padding: 12px 22px;
    transition: all 0.3s ease-in-out;
}

td a:hover {
    background-color: #bfcbd1;
}